#breadcrumb {
    display: none;
}
.konten-kursus {
	height: 80vh;
	width: 70vw;
	position: fixed;
	bottom: 0px;
	z-index: -1;
	left: 15vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 5vw;
	text-align: center;
	animation: nongol 0.5s;
	row-gap: 15px;
}
#halaman-ke {
    float: left;
    position: fixed;
    left: 2.5vh;
    background: rgba(0,0,0,0.1);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#halaman-ke > p, #judul-kursus > p {
    margin: 0 !important;
    font-size: 14px;
}
#judul-kursus {
    text-align: center;
    position: fixed;
    width: 100vw;
    left: 0;
    padding: 5px;
}
#luasin {
    float: right;
    border-radius: 100%;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    position: fixed;
    right: 0;
    margin: 0px !important;
    margin-right: 2.5vh !important;
    cursor: pointer;
}
#next {
    right: 0;
    border-radius: 10px 0px 0px 10px;
}
#next i {
    margin: 0;
}
#prev {
    left: 0;
    border-radius: 0px 10px 10px 0px;
}
#prev i {
    margin: 0;
}
#next, #prev {
    position: fixed;
    bottom: 40vh;
    height: 50px;
    background: rgba(0,0,0,0.1);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: fit-content;
}
#prev:hover, #next:hover, #luasin:hover {
    background: rgba(0,0,0,0.4);
}
#daftar-isi-kursus-tutup {
	position: fixed;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	backdrop-filter: blur(1px);
	height: 100vh;
	display: flex;
	align-items: center;
	width: 100vw;
	max-width: 400px;
	padding: 1.5em;
	transform: scaleX(0);
	transform-origin: left;
	z-index: 999;
}
#daftar-isi-kursus-buka {
	position: fixed;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	backdrop-filter: blur(1px);
	height: 100vh;
	display: flex;
	align-items: center;
	width: 100vw;
	max-width: 400px;
	padding: 1.5em;
	transform: scaleX(1);
	transform-origin: left;
	z-index: 999;
}
#daftar-isi-kursus-buka li {
	color: #eee;
	font-size: 16px;
	padding: 0.3em 0;
}
#penutup-daftar-isi {
	position: absolute;
	top: 5vh;
	right: 5vh;
	background: rgba(255,255,255,0.5);
	border: none;
	height: 40px;
	width: 40px;
	font-size: 22px;
	border-radius: 5px;
	cursor: pointer;
}
#penutup-daftar-isi i {
	margin: 0px;
}
#penutup-daftar-isi:hover {
	background: rgba(255,255,255,0.3);
	color: red;
}
@keyframes nongol{
    0% {filter: opacity(0);}
    100% {filter: opacity(1);}
}
#lanjut-materi {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
#lanjut-materi:hover {
    background: rgba(0,0,0,0.3);
}
.konten-kursus strong, .konten-kursus b, .konten-kursus i, .konten-kursus p, .konten-kursus ul, .konten-kursus ol {
    font-size: 18px !important;
    margin: 0 !important;
}
@media only screen and (max-width:769px){
    #next, #prev {
            bottom: 20vh;
    }
    .konten-kursus {
	    width: 90vw;
	    left: 5vw;
	    bottom : -5vh;
    }
}
@media only screen and (max-width:415px){
    #judul-kursus {
        margin-top: 50px !important;
    }
    .konten-kursus {
	    width: 100vw;
	    left: 0vw;
    }
}
@media only screen and (min-width:1500px){
    .konten-kursus {
	    width: 65vw;
	    left: 17.5vw;
    }
}
